.BridgeContainer {
  min-width: 300px;
  max-width: 47%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  min-height: 300px;
  background-color: #fff;
  background-color: #212121;
  .SwapSection {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
  }
}
