.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.8rem;
  padding-bottom: 1.4rem;
  background-color: #212121;
  .ButtonContainer {
    button {
      min-width: 200px;
    }
  }
  .BalanceSection {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 6px 6px;
    border-radius: 13px;
    margin-top: 1.4rem;
    img {
      height: 30px;
      margin-left: -10px;
    }
    p {
      margin: 0;
      font-weight: 700;
    }
  }
}
